@import "partials/foundation.scss";
@import "partials/settings.scss";
@import "partials/base.scss";



.lt-ie10{
@include foundation-grid;
}


h1 {
    color: $black;
}


input[type='search'] {
	height: 32px;
	border-color: $primary-color;
}



.options {
	margin: 100px 0;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}


.option {
	flex-grow: 1;
    flex-shrink: 0;
	border-right: 1px solid #ccc;
}

.option:last-of-type {
	border:none;
}
