@import "partials/foundation.scss";
@import "partials/settings.scss";
@import "partials/base.scss";



.lt-ie10{
@include foundation-grid;
}


h1 {
    color: $black;
}


input[type='search'] {
	height: 32px;
	border-color: $primary-color;
}
